.end-flex {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    /* identical to box height, or 186% */
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 30px;
    text-decoration: none;
}