.nav {
    overflow: hidden;
}

.nav a {
    float: left;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    /* identical to box height, or 186% */
    text-transform: uppercase;
    color: white;
}

.nav a:hover {
    background-color: #95D5B2;
    color: black;
}


.nav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .nav a {
        display: none;
    }

    .nav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .nav.responsive {
        position: relative;
    }

    .nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav.responsive a {
        float: inline-start;
        display: block;
        text-align: left;
    }

    .label-page {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .textarea {
        width: 320px;
        height: 63px;
    }

    .header-info {
        margin-left: 10px;
    }

}

.info {
    padding-left: 15px;
}